<div class="blank-layout-container justify-content-center align-items-center">
    <div class="position-relative overflow-hidden auth-bg min-vh-100 h-100 w-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100 my-5 my-xl-0">
                <div class="col-sm-9 d-flex flex-column justify-content-center">
                    <div class="bg-white mb-0 rounded auth-login m-auto w-100 overflow-hidden">
                        <div class="row gx-0">
                            <!-- ------------------------------------------------- -->
                            <!-- Part 1 -->
                            <!-- ------------------------------------------------- -->
                            <div class="col-lg-6 b-r-1 p-r-0">
                                <div class="row justify-content-center p-y-24">
                                    <div class="col-lg-11">
                                        <div class="p-30">
                                            <a [routerLink]="['/']">
                                                <img src="./assets/styles/default/images/logo.svg" class="align-middle m-2" alt="logo" />
                                            </a>
                                            <h4 class="f-w-700 f-s-34 m-t-24 m-b-8">{{ 'auth.activate.title' | translate }}</h4>
                                            <span class="d-block f-w-500 m-t-24" [innerHTML]="'auth.activate.hello' | translate : { fullName: user.fullName }">{{ 'auth.activate.hello' | translate : { fullName: user.fullName } }}</span>
                                            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
                                                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'auth.activate.question1' | translate }}</mat-label>
                                                <mat-form-field appearance="outline" class="w-100" color="primary">
                                                    <input matInput formControlName="teacherName" />
                                                    @if (f['teacherName'].touched && f['teacherName'].invalid) {
                                                        <mat-hint class="m-b-16 error-msg">
                                                            @if(f['teacherName'].errors && f['teacherName'].errors['required']) {
                                                            <div class="text-error">{{ 'auth.activate.minLength' | translate }}</div>
                                                            } @if(f['teacherName'].errors && f['teacherName'].errors['minlength']) {
                                                                <div class="text-error">
                                                                    {{ 'auth.activate.minLength' | translate }}
                                                                </div>
                                                            }
                                                        </mat-hint>
                                                    }
                                                </mat-form-field>

                                                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'auth.activate.question2' | translate }}</mat-label>
                                                <mat-form-field appearance="outline" class="w-100" color="primary">
                                                    <input matInput formControlName="yourName" />
                                                    @if (f['yourName'].touched && f['yourName'].invalid) {
                                                        <mat-hint class="m-b-16 error-msg">
                                                            @if(f['yourName'].errors && f['yourName'].errors['required']) {
                                                                <div class="text-error">{{ 'auth.activate.minLength' | translate }}</div>
                                                            } @if(f['yourName'].errors && f['yourName'].errors['minlength']) {
                                                                <div class="text-error">
                                                                    {{ 'auth.activate.minLength' | translate }}
                                                                </div>
                                                            }
                                                        </mat-hint>
                                                    }
                                                </mat-form-field>

                                                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'auth.activate.question3' | translate }}</mat-label>
                                                <mat-form-field appearance="outline" class="w-100" color="primary">
                                                    <input matInput formControlName="yourChildrenName" />
                                                    @if (f['yourChildrenName'].touched && f['yourChildrenName'].invalid) {
                                                        <mat-hint class="m-b-16 error-msg">
                                                            @if(f['yourChildrenName'].errors && f['yourChildrenName'].errors['required']) {
                                                                <div class="text-error">{{ 'auth.activate.minLength' | translate }}</div>
                                                            } @if(f['yourChildrenName'].errors && f['yourChildrenName'].errors['minlength']) {
                                                                <div class="text-error">
                                                                    {{ 'auth.activate.minLength' | translate }}
                                                                </div>
                                                            }
                                                        </mat-hint>
                                                    }
                                                </mat-form-field>

                                                <div class="row">
                                                    <div class="col-6">
                                                        <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid">
                                                            {{ 'buttons.activate' | translate }}
                                                        </button>
                                                    </div>
                                                    <div class="col-6">
                                                        <button mat-flat-button color="primary" class="w-100" (click)="logout()">
                                                            {{ 'buttons.signOut' | translate }}
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- input -->
                                            </form>
                                            <span class="d-block f-w-500 m-t-24 text-warning">{{ 'auth.activate.answerGuideline' | translate }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ------------------------------------------------- -->
                            <!-- Part 2 -->
                            <!-- ------------------------------------------------- -->
                            <div class="col-lg-6 d-none d-lg-block">
                                <div
                                        class="row justify-content-center align-items-center h-100"
                                >
                                    <div class="col-lg-9">
                                        <div
                                                class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center"
                                        >
                                            <img
                                                    src="/assets/styles/default/images/backgrounds/login-side.png"
                                                    alt="login-side-img"
                                                    width="300"
                                                    class="img-fluid"
                                            />
                                            <h4 class="mb-0 f-s-22 m-y-20">Feature Rich 3D Charts</h4>
                                            <p class="f-s-15 m-b-20 m-t-0 mat-body-1">
                                                Donec justo tortor, malesuada vitae faucibus ac,
                                                tristique sit amet massa. Aliquam dignissim nec felis
                                                quis imperdiet.
                                            </p>
                                            <button mat-flat-button color="primary">
                                                Learn More
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
