<div class="blank-layout-container justify-content-center">
    <div class="row">
        <div class="col-12 text-center"><img src="/assets/styles/default/images/backgrounds/maintenance.svg" alt="error-bg">
            <h2 class="auth-title f-w-600">{{ 'maintenance.mode' | translate }}</h2>
            <h6 class="f-s-20 f-w-600 m-b-30">{{ 'maintenance.description' | translate }}</h6>
            <a mat-flat-button color="primary">{{ 'buttons.backToHome' | translate }}</a>
        </div>
    </div>
</div>
