<div class="bg-primary spacer-sm">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 d-flex align-items-center m-b-24">
                <div><h3 class="m-t-0 section-title2 text-white m-b-24"> Build your app with our highly customizable
                    Angular based Dashboard </h3>
                    <div class="hstack"><a mat-button
                                           class="text-primary btn-custom sm bg-white f-w-500" href="/auth/login"><span
                            class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                            class="mdc-button__label">Login</span><span class="mat-mdc-focus-indicator"></span><span
                            class="mat-mdc-button-touch-target"></span></a><a mat-stroked-button="" color="white"
                                                                              class="btn-custom sm text-white f-w-500 border-white mdc-button mdc-button--outlined mat-mdc-outlined-button mat-white mat-mdc-button-base"
                                                                              mat-ripple-loader-class-name="mat-mdc-button-ripple"><span
                            class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                            class="mdc-button__label">Download Free Version</span><span
                            class="mat-mdc-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span><span
                            class="mat-ripple mat-mdc-button-ripple"></span></a></div>
                </div>
            </div>
            <div class="col-lg-5 text-right"><img src="assets/styles/default/images/landing-page/background/c2a.png" alt="img"
                                                  width="330"></div>
        </div>
    </div>
</div>



