::ng-deep {
  .phone-carrier-mobifone {
    color: #08979c;
    background: #e6fffb;
    border: 1px solid #87e8de;
    margin-left: 5px;
    padding: 0 5px;
  }

  .phone-carrier-vinaphone {
    color: #0958d9;
    background: #e6f4ff;
    border: 1px solid #91caff;
    margin-left: 5px;
    padding: 0 5px;
  }

  .phone-carrier-viettel {
    color: #cf1322;
    background: #fff1f0;
    border: 1px solid #ffa39e;
    margin-left: 5px;
    padding: 0 5px;
  }

  .phone-carrier-vietnamobile {
    color: #d4380d;
    background: #fff2e8;
    border: 1px solid #ffbb96;
    margin-left: 5px;
    padding: 0 5px;
  }

  .phone-carrier-gmobile {
    color: #08979c;
    background: #e6fffb;
    border: 1px solid #87e8de;
    margin-left: 5px;
    padding: 0 5px;
  }

  .phone-carrier-itelecom {
    color: #08979c;
    background: #e6fffb;
    border: 1px solid #87e8de;
    margin-left: 5px;
    padding: 0 5px;
  }
}
