<footer class="p-y-30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5 col-lg-4 text-center"><span><img src="assets/styles/default/images/logo-icon.svg"
                                                                  alt="logo"></span>
                <div class="f-s-14 m-t-8"> All rights reserved by MatDash. Designed &amp; Developed by <a
                    href="https://adminmart.com/" target="_blank" class="text-primary">AdminMart </a>.
                </div>
            </div>
        </div>
    </div>
</footer>
