<h2 mat-dialog-title>{{'admin.system.permission.titleForRole' | translate: { name: roleInfo.name } }}</h2>
<mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="changeTab($event)">
        <mat-tab label="{{'admin.system.role.profile' | translate}}">
            <div class="f-s-14 p-16 rounded m-t-12">
                <ng-template *ngTemplateOutlet="profileRole"></ng-template>
            </div>
        </mat-tab>
        <mat-tab label="{{'admin.system.role.allRoute' | translate}}">
            <div class="f-s-14 p-16 rounded m-t-12">
                <ng-template *ngTemplateOutlet="routeAll"></ng-template>
            </div>
        </mat-tab>
        <mat-tab label="{{'admin.system.role.allowedRoute' | translate}}">
            <div class="f-s-14 p-16 rounded m-t-12">
                <ng-template *ngTemplateOutlet="routeAllowed"></ng-template>
            </div>
        </mat-tab>
        <mat-tab label="{{'admin.system.role.deniedRoute' | translate}}">
            <div class="f-s-14 p-16 rounded m-t-12">
                <ng-template *ngTemplateOutlet="routeDeny"></ng-template>
            </div>
        </mat-tab>
    </mat-tab-group>

    <ng-template #profileRole>
        <form [formGroup]="formRole">
            <div class="row">
                <div class="col-sm-12">
                    <mat-label class="f-w-600 d-block m-b-10">{{'admin.system.role.name' | translate}}</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input type="text"
                            formControlName="name"
                            placeholder="{{'admin.system.role.placeholder.enterName' | translate}}"
                            matInput
                        />
                        <mat-error *ngIf="formRole.get('name')?.invalid && formRole.get('name')?.touched">
                            <span class="m-b-0" *ngIf="formRole.get('name')?.errors?.['required']">
                                {{ 'admin.system.role.validatedErrors.name.required' | translate }}
                            </span>
                            <span class="m-b-0" *ngIf="formRole.get('name')?.errors?.['minlength']">
                                {{ 'admin.system.role.validatedErrors.name.minLength' | translate }}
                            </span>
                            <span class="m-b-0" *ngIf="formRole.get('name')?.errors?.['maxlength']">
                                {{ 'admin.system.role.validatedErrors.name.maxLength' | translate }}
                            </span>
                            <span class="m-b-0" *ngIf="formRole.get('name')?.errors?.['existed']">
                                {{ 'admin.system.role.validatedErrors.name.existed' | translate }}
                            </span>
                            <span class="m-b-0" *ngIf="formRole.get('name')?.errors?.['excessWhiteSpace']">
                                {{ 'validatedErrors.excessWhiteSpace' | translate }}
                            </span>
                            <span class="m-b-0" *ngIf="formRole.get('name')?.errors?.['htmlTag']">
                                {{ 'validatedErrors.htmlTag' | translate }}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row m-b-20">
                <div class="col-sm-12">
                    <mat-label class="f-w-600 d-block m-b-10">{{'admin.system.role.status' | translate}}</mat-label>
                    <mat-form-field class="d-flex input-height-46 w-100" appearance="outline">
                        <mat-select [value]="formRole.get('status')?.value" (selectionChange)="formRole.get('status')?.setValue($event.value)">
                            <mat-option *ngFor="let s of statuses" [value]="s">
                                <ng-container>
                                    {{ 'admin.system.role.status.' + s | translate }}
                                </ng-container>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-label class="f-w-600 d-block m-b-10">{{'admin.system.role.permissionLocked' | translate}}</mat-label>
                    <mat-form-field class="d-flex input-height-46 w-100" appearance="outline">
                        <mat-select [value]="formRole.get('permissionLocked')?.value" (selectionChange)="formRole.get('permissionLocked')?.setValue($event.value)">
                            <mat-option *ngFor="let p of listPermissionLocked" [value]="p">
                                <ng-container>
                                    {{ 'admin.system.role.permissionLocked.' + p | translate }}
                                </ng-container>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #routeAll>
        <div class="row">
            <div class="col-sm-12 p-l-0">
                <div class="m-b-15 d-lg-flex align-items-center">
                    <mat-form-field class="theme-select m-r-10 d-flex input-height-40" appearance="outline" [style.width.px]="400">
                        <input matInput #keyword type="text" (keydown.enter)="filterRoutes($event)"
                            placeholder="{{ 'admin.system.permission.placeholder.enterKeyword' | translate }}" />
                    </mat-form-field>
                    <button mat-flat-button class="bg-primary text-white btn-height-40" (click)="filterRoutes($event)" [style.width.px]="120">
                        <i-tabler class="icon-20 m-r-10" name="search">
                        </i-tabler>
                        <span>{{'buttons.search' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row table-responsive">
            <table mat-table [dataSource]="aclAll" class="w-100">
                <ng-container matColumnDef="sequence">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'labels.sequence' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="mat-body-1" [style.width.px]="75">
                        <p class="f-s-15 f-w-700 m-t-4 m-b-0">{{ i + 1 + (pageIndex) * pageSize }}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="allowed">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.allowed' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="mat-body-1" [style.width.px]="120">
                        <mat-slide-toggle color="primary" (change)="toggle($event, element)" [checked]="element.isAllow ? true : false"></mat-slide-toggle>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.name' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="mat-body-1">
                        <span class="f-w-600">{{element.name}}</span>
                        <ul class="m-b-0">
                            <li class="text-muted font-size-base">{{ 'admin.system.permission.controller' | translate }}: {{ element.controller }}</li>
                            <li class="text-muted font-size-base">{{ 'admin.system.permission.middleware' | translate }}: {{ element.middleware.join(', ') }}</li>
                        </ul>
                    </td>
                </ng-container>
                <ng-container matColumnDef="groupName">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.route.groupName' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="mat-body-1" [style.width.px]="200">
                        <span>{{element.groupName}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="package">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.package' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="mat-body-1" [style.width.px]="100">
                        <span>{{element.vendor}} / {{element.package}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="uri">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.uri' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="mat-body-1" [style.width.px]="250">
                        <span>{{element.uri}}</span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <div class="text-center p-2" *ngIf="aclAll.length == 0">
            <div class="text-muted">{{ 'dataNotFound' | translate }}</div>
        </div>
    </ng-template>
    <ng-template #routeAllowed>
        <div class="row table-responsive">
            <table mat-table [dataSource]="aclAllow" class="w-100">
                <ng-container matColumnDef="sequence">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'labels.sequence' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aLw; let i = index" class="mat-body-1" [style.width.px]="75">
                        <p class="f-s-15 f-w-700 m-t-4 m-b-0">{{ i + 1 + (pageIndex) * pageSize }}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="allowed">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.allowed' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aLw; let i = index" class="mat-body-1" [style.width.px]="120">
                        <mat-slide-toggle color="primary" (change)="toggle($event, aLw)" [checked]="aLw.isAllow ? true : false"></mat-slide-toggle>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.name' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aLw; let i = index" class="mat-body-1">
                        <span class="f-w-600">{{aLw.name}}</span>
                        <ul class="m-b-0">
                            <li class="text-muted font-size-base">{{ 'admin.system.permission.controller' | translate }}: {{ aLw.controller }}</li>
                            <li class="text-muted font-size-base">{{ 'admin.system.permission.middleware' | translate }}: {{ aLw.middleware.join(', ') }}</li>
                        </ul>
                    </td>
                </ng-container>
                <ng-container matColumnDef="groupName">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.route.groupName' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aLw; let i = index" class="mat-body-1" [style.width.px]="200">
                        <span>{{aLw.groupName}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="package">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.package' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aLw; let i = index" class="mat-body-1" [style.width.px]="100">
                        <span>{{aLw.vendor}} / {{aLw.package}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="uri">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.uri' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aLw; let i = index" class="mat-body-1" [style.width.px]="250">
                        <span>{{aLw.uri}}</span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <div class="text-center p-2" *ngIf="aclAllow.length == 0">
            <div class="text-muted">{{ 'dataNotFound' | translate }}</div>
        </div>
    </ng-template>
    <ng-template #routeDeny>
        <div class="row table-responsive">
            <table mat-table [dataSource]="aclDeny" class="w-100">
                <ng-container matColumnDef="sequence">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'labels.sequence' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aDn; let i = index" class="mat-body-1" [style.width.px]="75">
                        <p class="f-s-15 f-w-700 m-t-4 m-b-0">{{ i + 1 + (pageIndex) * pageSize }}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="allowed">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.allowed' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aDn; let i = index" class="mat-body-1" [style.width.px]="120">
                        <mat-slide-toggle color="primary" (change)="toggle($event, aDn)" [checked]="aDn.isAllow ? true : false"></mat-slide-toggle>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.name' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aDn; let i = index" class="mat-body-1">
                        <span class="f-w-600">{{aDn.name}}</span>
                        <ul class="m-b-0">
                            <li class="text-muted font-size-base">{{ 'admin.system.permission.controller' | translate }}: {{ aDn.controller }}</li>
                            <li class="text-muted font-size-base">{{ 'admin.system.permission.middleware' | translate }}: {{ aDn.middleware.join(', ') }}</li>
                        </ul>
                    </td>
                </ng-container>
                <ng-container matColumnDef="groupName">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.route.groupName' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aDn; let i = index" class="mat-body-1" [style.width.px]="200">
                        <span>{{aDn.groupName}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="package">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.package' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aDn; let i = index" class="mat-body-1" [style.width.px]="100">
                        <span>{{aDn.vendor}} / {{aDn.package}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="uri">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 fixed-width-column">
                        {{ 'admin.system.permission.uri' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let aDn; let i = index" class="mat-body-1" [style.width.px]="250">
                        <span>{{aDn.uri}}</span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <div class="text-center p-2" *ngIf="aclDeny.length == 0">
            <div class="text-muted">{{ 'dataNotFound' | translate }}</div>
        </div>
    </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end" class="p-r-30 p-b-30">
    <button mat-stroked-button color="warn" mat-dialog-close>{{ 'buttons.close' | translate }}</button>
    <button mat-flat-button color="primary" *ngIf="tabCurrent === 'permission-tab-role-info'" (click)="save()" [disabled]="!checkFormValid() || loadingState" cdkFocusInitial>{{ 'buttons.save' | translate }}</button>
</mat-dialog-actions>