::ng-deep {
  .text-facebook {
    color: #0766ff;
  }
  .text-tiktok {
    color: #000;
  }
  .text-shopee {
    color: #fd5e32;
  }

  .label-order-status-0 {
    background-color: #09979c;
  }
  .label-order-status-1 {
    background-color: #013eb4;
  }
  .label-order-status-2 {
    background-color: #fa8c17;
  }
  .label-order-status-3 {
    background-color: #52c41b;
  }
  .label-order-status-4 {
    background-color: #e0695c;
  }
  .label-order-status-5 {
    background-color: #a8081a;
  }
  .label-order-status-6 {
    background-color: #f5222d;
  }
  .label-order-status-7 {
     background-color: #485467;
  }
  .label-order-status-8 {
    background-color: #722ed1;
  }
  .label-order-status-9 {
    background-color: #eb2f96;
  }
  .label-order-status-11 {
    background-color: #485467;
  }
  .label-order-status-12 {
    background-color: #485467;
  }
  .label-order-status-15 {
    background-color: #485467;
  }
  .label-order-status-16 {
    background-color: #485467;
  }
}
